@model IEnumerable<WebAppEdson.Models.Caixa>

@{
    ViewData["Title"] = "Index";
    string style = "";
    double entrada = 0;
    double saida = 0;
    double saldo = 0;
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form method="GET" asp-action="Index">
    <p>
        <input type="search" placeholder="Digite sua Pesquisa" value="@ViewData["Caixa"]" name="busca" style="width:300px;" />
        <input type="submit" value="Busca" class="btn btn-primary" />
        <a asp-action="Index">Mostrar Todos</a>
    </p>

</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            @if (item.Tipo == "CREDITO")
            {
                style = "color: green";
                entrada = entrada + item.Valor;
            }
            else
            {
                style = "color: red";
                saida = saida + item.Valor;
            }


            <tr style="@style">
                <td>
                    @Html.DisplayFor(modelItem => item.Data)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>
<hr />
<div>
    <table>
        <tr>
            <td style="color:green">
                Entrada: (+) @entrada.ToString("N2")
            </td>

        </tr>
        <tr>
            <td style="color:red;">
                Saida: (-) @saida.ToString("N2")
            </td>
        </tr>
        @{
            saldo = (saida - entrada);
        }
        <tr>
            <td style="color:black;">
                Saldo: (=) @saldo.ToString("N2")
            </td>
        </tr>
    </table>
</div>
